# Windows examples: COM3, COM4, COM5
# Linux examples: /dev/ttyACM0, /dev/ttyUSB0
SERIAL_PORT=COM3
SERIAL_BAUD_RATE=9600

MQTT_HOST=157.173.101.159
MQTT_PORT=1883
MQTT_USERNAME=pc_publisher
MQTT_PASSWORD=REPLACE_WITH_PC_PUBLISHER_PASSWORD
MQTT_TOPIC=rca/hitayezu-frank-duff/temperature
